@charset "UTF-8";
:root {
  --brand-color: #2196F3;
  --main-color: #212121;
  --white-color: #FFFFFF;
  --text-color: #757575;
  --font-text: "Roboto";
  --font-logo: "Raleway";
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

body {
  color: var(--main-color);
  font-family: var(--font-text);
  margin: 0;
}

.hide {
  display: none;
  margin: 0;
}

.section-header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-block-color: #ECECEC;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section-header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__web {
  color: var(--brand-color);
  font-family: var(--font-logo);
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  list-style: none;
  font-weight: 700;
}

.logo__studio {
  color: #000000;
  font-family: var(--font-logo);
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  list-style: none;
  font-weight: 700;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  text-decoration: none;
  list-style: none;
  margin-left: 93px;
  margin-top: 0px;
  margin-bottom: 0px;
  background: none;
  padding: 0;
}

.index-main::after {
  position: absolute;
  content: "";
  display: block;
  width: 46px;
  height: 4px;
  background-color: #2196F3;
}

.portfolio-main::after {
  position: absolute;
  content: "";
  display: block;
  width: 76px;
  height: 4px;
  background-color: #2196F3;
}

.navigation__item {
  color: var(--main-color);
  cursor: pointer;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-decoration: none;
  list-style: none;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  display: block;
  color: var(--main-color);
  font-style: normal;
  font-family: var(--font-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  text-decoration: none;
  list-style: none;
}
.navigation .navigation__link:hover {
  color: var(--brand-color);
  background: none;
}
.navigation .navigation__link:focus {
  color: var(--brand-color);
  background: none;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  list-style: none;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
}

.contact__item {
  color: var(--main-color);
  cursor: pointer;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-decoration: none;
  list-style: none;
}

.contact .contact__item + .contact__item {
  margin-left: 50px;
}

.contact__adress-item {
  color: var(--text-color);
  font-family: var(--font-text);
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  text-decoration: none;
  list-style: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
.contact__adress-item:hover {
  color: var(--brand-color);
  fill: var(--brand-color);
}
.contact__adress-item:focus {
  color: var(--brand-color);
  fill: var(--brand-color);
}

.hero {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/фон.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/фон.jpg");
  background-color: #2F303A;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__slogan {
  color: var(--white-color);
  font-size: 26px;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: auto;
  width: 360px;
}
@media screen and (min-width: 768px) {
  .hero__slogan {
    font-size: 26px;
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__slogan {
    font-size: 44px;
    width: 696px;
  }
}

.hero__button-order {
  color: var(--white-color);
  background-color: var(--brand-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
.hero__button-order:hover {
  color: var(--brand-color);
  background-color: var(--white-color);
}
.hero__button-order:focus {
  color: var(--brand-color);
  background-color: var(--white-color);
}

.preferens-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.preferens-point {
  width: 100%;
  height: auto;
  text-decoration: none;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .preferens-point {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .preferens-point {
    width: calc((100% - 90px) / 4);
  }
}

.preferens-wrapper {
  width: 100%;
  height: 120px;
  text-decoration: none;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5F4FA;
  border-radius: 4%;
  margin: 0;
  padding: 0;
}

.preferens {
  padding-top: 107px;
}

.caption {
  margin-top: 0px;
  margin-bottom: 10px;
}

.caption-text {
  margin-top: 30px;
  margin-bottom: 10px;
}

.caption {
  color: var(--main-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  text-align: center;
}

.text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}

.image-example {
  position: relative;
}
.image-example:not(:last-child) {
  margin-right: 30px;
}

.text-doing {
  position: absolute;
  bottom: 0;
  right: 50%;
  -webkit-transform: translate(50%);
          transform: translate(50%);
  font-family: var(--font-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--wite-color);
  background-color: rgba(47, 48, 58, 0.8);
  margin: 0;
  padding: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 370px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.subtitle {
  color: var(--main-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  list-style: none;
  margin-top: 0;
  margin-bottom: 50px;
  font-family: var(--font-text);
}

.list-example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/*---------------------------------------TEAM---------------*/
.container-team {
  background: #F5F4FA;
}

.list-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  margin-bottom: 0;
  padding-top: 0;
  padding-left: 0;
  padding-left: 0;
  padding-bottom: 0;
  text-decoration: none;
  list-style: none;
}

.card {
  width: 100%;
  height: auto;
  text-decoration: none;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .card {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card {
    width: calc((100% - 90px) / 4);
  }
}

.headline {
  margin-top: 30px;
  margin-bottom: 10px;
}

.submite-text {
  font-family: var(--font-text);
  color: var(--main-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.soc-item {
  width: 44px;
  height: 44px;
  text-decoration: none;
  list-style: none;
}

.soc-link {
  height: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #AFB1B8;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
.soc-link:hover {
  background-color: #2196F3;
  color: var(--white-color);
}
.soc-link:focus {
  background-color: #2196F3;
  color: var(--white-color);
}

.icon {
  fill: currentColor;
}

.headline {
  text-align: center;
  color: var(--main-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-decoration: none;
  list-style: none;
  margin-top: 0;
  margin-bottom: 10px;
}

.headline-text {
  text-align: center;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.wrapper-team {
  background-color: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: #EEEEEE;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  text-decoration: none;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  margin-bottom: 0;
  padding: 0;
}

.container__submite-text {
  font-family: var(--font-text);
  color: var(--main-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .container__submite-text {
    font-size: 28px;
    line-height: 1.17;
  }
}

.customers__item {
  width: calc((100% - 30px) / 2);
  height: auto;
  text-decoration: none;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .customers__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers__item {
    width: calc((100% - 180px) / 6);
  }
}

.customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 92px;
  text-decoration: none;
  list-style: none;
  border-color: #AFB1B8;
  border-style: solid;
  border-radius: 3%;
  border-width: 1px;
  fill: #AFB1B8;
  -webkit-transition-property: fill, background-color;
  transition-property: fill, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
.customers__link:hover {
  border-color: #2196F3;
  fill: #2196F3;
}
.customers__link:focus {
  border-color: #2196F3;
  fill: #2196F3;
}

.button {
  font-family: inherit;
}

.filter .filter-item {
  color: var(--main-color);
  background-color: #F5F4FA;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22pt;
  text-align: center;
  border: 0;
  border-radius: 4px;
  margin: 0;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
.filter .filter-item:hover {
  color: var(--white-color);
  background-color: var(--brand-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter .filter-item:focus {
  color: var(--white-color);
  background-color: var(--brand-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.filter {
  margin: 0;
}

.list-filter .filter:not(:last-child) {
  margin-right: 8px;
}

.filter-example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  margin-bottom: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.info {
  margin-right: 30px;
  margin-bottom: 30px;
  text-decoration: none;
  list-style: none;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  overflow: hidden;
}
.info:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.info:nth-child(3n+3) {
  margin-right: 0;
}

.info .info-title {
  margin-bottom: 4px;
  margin-top: 0;
  text-align: left;
  text-decoration: none;
  list-style: none;
}

.info .info-title {
  color: var(--main-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
  list-style: none;
  padding-left: 24px;
  padding-right: 24px;
}

.info .info-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-decoration: none;
  list-style: none;
  text-align: left;
  margin: 0;
  padding-left: 24px;
  padding-right: 24px;
}

.overlay {
  position: relative;
  overflow: hidden;
}
.overlay:hover .overlay-text {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.overlay:before {
  position: absolute;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  opacity: 0;
  display: inline-block;
  content: "";
  width: 100%;
  height: 100%;
}

.overlay .overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  opacity: 1;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  margin: 0;
  padding-left: 29px;
  padding-right: 19px;
  padding-top: 45px;
  padding-bottom: 38px;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  font-family: var(--font-text);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  overflow: hidden;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 400ms linear;
  transition: -webkit-transform 400ms linear;
  transition: transform 400ms linear;
  transition: transform 400ms linear, -webkit-transform 400ms linear;
}
.overlay .overlay-text:hover {
  opacity: 1;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.text-link {
  display: block;
  text-decoration: none;
  list-style: none;
}
.text-link:hover .overlay::before {
  opacity: 1;
}

.footer-wrapper {
  display: block;
  margin-left: 0;
}

.display-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-wrapper-footer {
  margin-right: 12px;
}

.input-label-footer {
  font-family: var(--font-text);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2F303A;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: #ffffff;
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.42;
}

.wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #EEEEEE;
}

.no-gap {
  display: block;
}

.button-subscribe {
  width: 200px;
  height: 50px;
  font-family: var(--font-text);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196F3;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-button-wrapper {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  font-family: var(--font-text);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87px;
  letter-spacing: 0.06em;
  background-color: #2196F3;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  position: relative;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 10px;
  -webkit-transition: -webkit-transform 400ms linear;
  transition: -webkit-transform 400ms linear;
  transition: transform 400ms linear;
  transition: transform 400ms linear, -webkit-transform 400ms linear;
}

.icon-send {
  position: absolute;
  top: 10px;
  margin-left: 10px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.address {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
  text-decoration: none;
  list-style: none;
}

.address__point:not(:last-child) {
  margin-bottom: 9px;
}

.address__item {
  color: var(--white-color);
  background: #2F303A;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  list-style: none;
}

.address__mail {
  color: rgba(255, 255, 255, 0.6);
  background: #2F303A;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  list-style: none;
}

.address__tel {
  color: rgba(255, 255, 255, 0.6);
  background: #2F303A;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  list-style: none;
}

.footer {
  background: #2F303A;
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address__point {
  display: block;
}

.address__mail {
  display: block;
}

.address__tel {
  display: block;
}

.join__title {
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
  font-family: var(--font-text);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.join__icon {
  fill: #FFFFFF;
}

.join__link {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}

.icon {
  fill: currentColor;
}

.form-wrapper-check {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.check-text {
  font-family: var(--font-text);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #303030;
  border-radius: 2px;
  margin-right: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: transparent;
}

.modal-checkbox:checked + .check-text span {
  background-color: #2196F3;
  border: none;
  fill: #FFFFFF;
}

.check-link {
  color: #2196F3;
  margin-left: 5px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 300ms linear, visibility 300ms linear;
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 39px;
  padding-bottom: 40px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border-color: 0, 0, 0, 0.2;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 20px;
  margin-bottom: 12px;
  text-align: center;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding-left: 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;
}

.modal-input:focus {
  border-color: #2196F3;
}

.modal-input:focus + .modal-icon {
  fill: #2196F3;
}

.input-label {
  display: inline-block;
  font-family: var(--font-text);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}

.form-wrapper {
  margin-top: 10px;
}

.input-wrapper {
  position: relative;
  margin: 0;
}

.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 5px;
  resize: none;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-comment:hover {
  border-color: #2196F3;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-close:hover {
  fill: #2196F3;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.agreement {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=main.css.map */