.footer-wrapper {
    display: block;
    margin-left: 0;
    text-align: center;
}

.display-wrapper {
    display: flex;
}

.input-wrapper-footer {
    margin-right: 12px;

}

.input-label-footer {
    font-family: var(--font-text);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.6px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer-input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: #2F303A;
    width: 100%;
    height: 50px;
    padding-left: 16px;
    color: #ffffff;
    font-family: var(--font-text);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.42;
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
        width: 358px;
        
        }

     
}

.wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #EEEEEE;
}
.no-gap {
    display: block;
}
.button-subscribe {
    width: 200px;
    height: 50px;
    font-family: var(--font-text);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: #2196F3;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

 .modal-footer {
    text-align: center;

@media screen and (min-width: 1200px) {
       
    display: flex;
    justify-content: flex-end;
}
  
 }

 

 .footer-button-wrapper {
     width: 200px;
     height: 50px;
     margin-left: 12px;
     font-family: var(--font-text);
     font-style: normal;
     font-weight: 700;
     font-size: 16px;
     line-height: 1.87px;
     letter-spacing: 0.06em;
     background-color: #2196F3;
     color: #ffffff;
     border: none;
     border-radius: 4px;
     position: relative;
     padding-top: 10px;
     padding-right: 28px;
     padding-bottom: 10px;
     padding-left: 10px;
     margin-bottom: 10px;
     transition: transform 400ms linear;
 }

 .icon-send {
     position: absolute;
     top: 10px;
     margin-left: 10px;
 }
 