  
  .section-header {

      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-block-color: #ECECEC;

  }
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
  .section-header__menu {
      display: flex;
      align-items: center;

  }

  .logo__web {
      color: var(--brand-color);
      font-family: var(--font-logo);
      font-size: 26px;
      line-height: 1.19;
      text-decoration: none;
      list-style: none;
      font-weight: 700;
  }

  .logo__studio {
      color: #000000;
    font-family: var(--font-logo);
      font-size: 26px;
      line-height: 1.19;
      text-decoration: none;
      list-style: none;
      font-weight: 700;
  }

  .navigation {
      display: flex;
      position: relative;
      text-decoration: none;
      list-style: none;
      margin-left: 93px;
      margin-top: 0px;
      margin-bottom: 0px;
      background: none;
      padding: 0;
  }

  .index-main::after {
      position: absolute;
      content: "";
      display: block;
      width: 46px;
      height: 4px;
      background-color: #2196F3;
  }

  .portfolio-main::after {
      position: absolute;
      content: "";
      display: block;
      width: 76px;
      height: 4px;
      background-color: #2196F3;
  }

  .navigation__item {
      color: var(--main-color);
      cursor: pointer;
      font-size: 16px;
      line-height: 1.62;
      letter-spacing: 0.03em;
      text-decoration: none;
      list-style: none;

  }

  .navigation__item:not(:last-child) {
      margin-right: 50px;
  }

  .navigation__link {
    display: block;
    color: var(--main-color);
    font-style: normal;
    font-family: var(--font-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;
    transition-duration: 250ms;
    text-decoration: none;
    list-style: none;

      .navigation &:hover {
        color: var(--brand-color);
         background: none;

      }

      .navigation &:focus {
          color: var(--brand-color);
          background: none;

      }
  }

   .contact {
      display: flex;
      text-decoration: none;
      list-style: none;
      margin-left: auto;
      margin-top: 0px;
      margin-bottom: 0px;
      padding: 0;
  }

     .contact__item {
      color: var(--main-color);
      cursor: pointer;
      font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
        text-decoration: none;
        list-style: none;
    
        }


  .contact .contact__item+.contact__item {
      margin-left: 50px;
  }

   .contact__adress-item {
    color: var(--text-color);
    font-family: var(--font-text);
      font-style: normal;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      font-weight: 500;
      text-decoration: none;
      list-style: none;
      transition-property: color;
      transition-duration: 250ms;
      
          &:hover {
                color: var(--brand-color);
                fill: var(--brand-color);
            }
        
         &:focus {
                color: var(--brand-color);
                fill: var(--brand-color);
            }
  }



  