  
  .section-header {

      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-block-color: #ECECEC;

  }
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
  .section-header__menu {
      display: flex;
      align-items: center;

      @media screen and (max-width: 1199px) {
      justify-content: space-between;
      
        }
      

  }

  .logo__web {
      color: var(--brand-color);
      font-family: var(--font-logo);
      font-size: 26px;
      line-height: 1.19;
      text-decoration: none;
      list-style: none;
      font-weight: 700;
  }

  .logo__studio {
      color: #000000;
    font-family: var(--font-logo);
      font-size: 26px;
      line-height: 1.19;
      text-decoration: none;
      list-style: none;
      font-weight: 700;
  }

  .navigation {
      display: none;
      position: relative;
      text-decoration: none;
      list-style: none;
      margin-left: 93px;
      margin-top: 0px;
      margin-bottom: 0px;
      background: none;
      padding: 0;

      @media screen and (min-width: 768px) {
        display: flex;
        
      }
  }

  .index-main::after {
      position: absolute;
      content: "";
      display: block;
      width: 46px;
      height: 4px;
      background-color: #2196F3;
  }

  .portfolio-main::after {
      position: absolute;
      content: "";
      display: block;
      width: 76px;
      height: 4px;
      background-color: #2196F3;
  }

  .navigation__item {
      color: var(--main-color);
      cursor: pointer;
      font-size: 16px;
      line-height: 1.62;
      letter-spacing: 0.03em;
      text-decoration: none;
      list-style: none;

  }

  .navigation__item:not(:last-child) {
      margin-right: 50px;
  }

  .navigation__link {
    display: block;
    color: var(--main-color);
    font-style: normal;
    font-family: var(--font-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;
    transition-duration: 250ms;
    text-decoration: none;
    list-style: none;

      .navigation &:hover {
        color: var(--brand-color);
         background: none;

      }

      .navigation &:focus {
          color: var(--brand-color);
          background: none;

      }
  }

   .contact {
      display: none;
      text-decoration: none;
      list-style: none;
    margin-left: 50px;
      margin-top: 0px;
      margin-bottom: 0px;
      padding: 0;

      @media screen and (min-width: 768px) {
          display: block;
      
        }

      @media screen and (min-width: 1200px) {
          display: flex;
          gap: 30px;
          margin-left: auto;
         }
  }

     .contact__item {
      color: var(--main-color);
      cursor: pointer;
      font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
        text-decoration: none;
        list-style: none;
    
        }

.contact__post-icon {
  fill: var(--text-color)

}
  

   .contact__adress-item {
    color: var(--text-color);
    font-family: var(--font-text);
      font-style: normal;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      font-weight: 500;
      text-decoration: none;
      list-style: none;
      transition-property: color;
      transition-duration: 250ms;
      
          &:hover {
                color: var(--brand-color);
                fill: var(--brand-color);
            }
        
         &:focus {
                color: var(--brand-color);
                fill: var(--brand-color);
            }
  }


.menu-open {
  border: none;
  background-color: #ffffff;
  @media screen and (min-width: 768px) {
   display: none; 
  }
}


  .mob-menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    transform: translateX(-100%);
    transition: transform 500ms;

  }

    .mob-menu.is-open {
transform: translateX(0);

    }

  .mob-container {
height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 overflow: auto;
  }
  .menu-close {
    display: block;
    margin-left: auto;
    margin-bottom: 10px;
    border: none;
    background-color: #ffffff;
  }

  .mob-navigation {
    margin-top: 0;
    margin-bottom: 302px;


  }
.mob-navigation__item {
  text-decoration: none;
  list-style: none;
}

.mob-navigation__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-contact {
  display: block;
  margin-top: 0;
  margin-bottom: 64px;
  text-decoration: none;
  list-style: none;

}
  .mob-navigation__link {
    font-family: 'Roboto';
font-weight: 500;
font-size: 40px;
line-height: 1.17;
letter-spacing: 0.02em;
color: #212121;
text-decoration: none;
list-style: none;
  }
.mob-link:not(:last-child) {
  margin-bottom: 40px;
}
  .mob-mail {
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto';
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;
    color: #757575;
    
  }

  .mob-tel {
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto';
      font-weight: 500;
      font-size: 34px;
      line-height: calc(40 / 34);
      letter-spacing: 0.02em;
      color: #2196F3;
     
     
  }

  .mob-soc {
    display: flex;
    gap: 10px;
    justify-content: left;
margin: 0;
margin-bottom: 48px;
  
  }

  .mob-soc__item {
    display: inline-block;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: 0.02em;
    color: #2196F3;
    list-style: none;
    
  }

     .mob-soc__item:not(:last-child) {
     
      padding-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
     }
   