.hero {
   max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    
    background-image: var(--background),
        url("../../images/header-mobile.jpg");
    background-color: #2F303A;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 118px;
    padding-bottom: 118px;
    padding-left: 0;
    padding-right: 0;
    background-position: center;
    
@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: var(--background),
    url("../../images/header-mobile2x.jpg");
    }
   
    @media screen and (min-width: 768px) {
        max-width: 768px;
        background-image: var(--background),
                url("../../images/header-tublet.jpg");

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: var(--background),
                url("../../images/header-tablet2x.jpg");
        }
    }
    @media screen and (min-width: 1200px) {
      height: 600px;
      max-width: 1200px;
    padding-top: 200px;
     padding-bottom: 200px;
    background-image: var(--background),
            url("../../images/фон.jpg");

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: var(--background),
                url("../../images/fon-2x.jpg");
        }
    }
}


.hero__slogan {
    color: var(--white-color);
    font-size: 26px;
    font-weight: 900;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: auto;
    width: 360px;
    

    @media screen and (min-width: 768px) {
        font-size: 26px;
        width: 360px;
        }
    
        @media screen and (min-width: 1200px) {
        font-size: 44px;
        width: 696px;
      
        }

}

.hero__button-order {
    color: var(--white-color);
    background-color: var(--brand-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    display: block;
    align-items: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: none;
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    transition-property: color, background-color;
    transition-duration: 250ms;
    &:hover {
            color: var(--brand-color);
            background-color: var(--white-color);
        }
    
    &:focus {
            color: var(--brand-color);
            background-color: var(--white-color);
        }
}



