.form-wrapper-check {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

}


.check-text {
    font-family: var(--font-text);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-text span {
    width: 16px;
    height: 15px;
    border: 2px solid #303030;
    border-radius: 2px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.modal-checkbox:checked+.check-text span {
    background-color: #2196F3;
    border: none;
    fill: #FFFFFF;

}

.check-link {
    color: #2196F3;
    margin-left: 5px;
    font-size: 12px;

    @media screen and (min-width: 1200px) {
            font-size: 14px;
        }
}