.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 300ms linear, visibility 300ms linear;

}

.modal {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms linear;

    padding-top: 40px;
    padding-left: 40px;
    padding-right: 39px;
    padding-bottom: 40px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border-color: (0, 0, 0, 0.2);


@media screen and (min-width: 480px) {
    max-width: 450px;
}



@media screen and (min-width: 1200px) {
    max-width: 528px;
}
}
.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
   
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 20px;
    margin-bottom: 12px;
   
  
   
   
}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding-left: 30px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: transparent;

}

.modal-input:focus {
    border-color: #2196F3;
}

.modal-input:focus+.modal-icon {
    fill: #2196F3;

}

.input-label {
    display: inline-block;
    font-family: var(--font-text);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 10px;

}

.form-wrapper {
    margin-top: 10px;
}

.input-wrapper {
    position: relative;
    margin: 0;

}


.modal-comment {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 5px;
    resize: none;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    font-family: var(--font-text);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);


}

.modal-comment:hover {
    border-color: #2196F3;
}


.modal-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal-close {
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 50%;
    justify-content: center;

}

.icon-close:hover {
    fill: #2196F3;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.agreement {
    font-family: var(--font-text);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
   align-items: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 0;
    padding: 0;

    @media screen and (min-width: 1200px) {
            font-size: 14px;
        }
}
